@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hp-red: #5e1919;
  --hp-gold: #c7991e;
  --hp-brown: #3b2f24;
  --hp-grey: #72777a;
  --hp-white: #eceae4;
}

body {
  background-color: var(--hp-white);
  color: var(--hp-brown);
}