@import "tailwindcss";

@theme {
  --color-hp-red: #5e1919;
  --color-hp-gold: #c7991e;
  --color-hp-brown: #3b2f24;
  --color-hp-grey: #72777a;
  --color-hp-white: #eceae4;
}

@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  }
}